/* INDEX OF CSS FILE */ 

/* 1. Nav Component */
/* 2.               */


/* -------------------------------------------------------------------------------------------------- */

/* 1. Nav Component */

.navBar {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: auto;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51,51,51,0.9);
}

.navMenu {
  
}

a {
  text-decoration: none;
  color: #fefefe;
}

#logo{
  height: 50px;
  width: 50px;
  margin-left: 10px;
}


#submitBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #E37D05;
  color: #fefefe;
  height: 35px;
  width: 150px;
  font-size: 18px;
  border:none;
  margin-right: 20px;
  transition: transform 500ms ease-in-out-back;
   background-position : 800ms ease-in-out-bac; 
   box-shadow: 500ms linear;
  background-size: contain;
  background-position: -200px center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

  #submitBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  #submitBtn:active{
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* -------------------------------------------------------------------------------------------------- */

/*2. */


