/* INDEX OF CSS FILE */ 

/* 1. Nav Component */
/* 2. Body Component */
/* 3. HeroBanner Component */
/* 4. Twitter Timeline */


@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato:wght@300;400;700&display=swap');

:root {
  --primary-font: "font-1", sans-serif;
  --secondary-font: "font-2", serif;
  
  --primary-color: #F8D948;
  --secondary-color: #959A9C;
  --third-color: #faf6d3;
}

/* -------------------------------------------------------------------------------------------------- */

/* 1. Nav Component */

.navBar {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(30,30,30,0.9);
}

.navMenu {
  display: inline-flex;
  justify-content: center;
}



.title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--secondary-color);
  
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}



#logo{
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}


#submitBtn {
  border-radius: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 35px;
  width: 150px;
  font-size: 18px;
  border:none;
  margin-right: 20px;
  transition: transform 500ms ease-in-out-back;
   background-position : 800ms ease-in-out-bac; 
   box-shadow: 500ms linear;
  background-size: contain;
  background-position: -200px center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

  #submitBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
    background-position: -60px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  #submitBtn:active{
    transform: scale(1);
    background-position: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* -------------------------------------------------------------------------------------------------- */

/*2. Body Component */

.bodyContainer {
  width: auto;
  

}

.Body {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap:nowrap;
  height: auto;
  width: auto;
}

.Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#Font1 {
  width: 80%;
  font-family:'Arvo';
  font-weight: 700;
  color:var(--third-color);
}


#Font2 {
  width: 80%;
  font-family:'Arvo';
  font-weight: 400;
  color:var(--secondary-color);
}

#Font3 {
  width: 80%;
  font-family: 'Leto';
  font-weight: 300;
  color: var(--primary-color);
}

#Font4 {
  width: 80%;
  font-family: 'Leto';
  font-weight: 400;
}

#Font5 {
  width: 80%;
  font-family: 'Leto';
  font-weight: 700;
}

.bodyHr {
  width: 90%;
  height: 0.3px;
  background: rgba(0,0,0,0.9);
}


/* -------------------------------------------------------------------------------------------------- */

/* 3. HeroBanner Component */ 

.backgroundImage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#hero {
  position: relative;
  width: 100%;
  max-width: auto;
  max-height: auto;
  height: auto;
  z-index: -1;
}

#heroText {
  position: absolute;
  justify-items: start;
  z-index: 1;
  color: var(--third-color);
  font-size: 76px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#separate {
  height: 0.2px;
  background-color: rgba(0,0,0,0.9);
  width: 90%;
  margin-top: 20px;
}

/* 4. ContactForm Component */

.contact-form {
  margin: 10px;
  max-width: 30%;
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

h2 {
  margin-top: 35px;
  text-align: center;
  color: var(--primary-color);
}


.form-content {
  display: grid;
  grid-template-rows: repeat(4, 1fr) 100px;
}

input,
textarea {
  border: none;
  background: none;
  font-size: 1.1rem;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  width: 80%;
}

input::placeholder, 
textarea::placeholder {
 color: var(--third-color);
}


input {
  padding: 24px 12px;
}
.email-content {
  position: relative;
}

#not-mail {
  display: none;
  position: absolute;
  top: 8px;
  color: #ff4d4d;
  right: 0;
  transform-origin: 50% 50%;
}
@keyframes dongle {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-10px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  30% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  70% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(-10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.button {
  font-size: 1.3rem;
  margin-top: 15px;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  transition: .2s;
  width: 100%;
}
.button:hover {
  letter-spacing: 2px;

}

.error::placeholder {
  color: #ff4d4d;
}
.form-message {
  margin-top: 10px;
  padding: 12px;
  opacity: 0;
  transition: 0.2s ease;
  color: var(--secondary-color);
  border-radius: 5px;
}

/* -------------------------------------------------------------------------------------------------- */

/* 5. Twitter Timeline */

.Twitter {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 20px;
  
}