/* INDEX OF CSS FILE */ 

/* 1. Nav Component */
/* 2.               */


/* -------------------------------------------------------------------------------------------------- */

/* 1. Nav Component */

.Nav {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  display: inline;
  justify-content: space-around;
  background-color: red;
}

.navMenu {
  background: red;
}

#logo{
  height: 50px;
  width: 50px;
}


#submitBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #E37D05;
  color: #fefefe;
  height: 35px;
  width: 150px;
  font-size: 18px;
  border:none;
}