:root {
  --primary-font: "font-1", sans-serif;
  --secondary-font: "font-2", serif;
  
  --illuminating: rgb(245,223,77); /*#F5DF4D*/
  --ultimate-Gray: rgb(147,149,151); /*#939597*/
  --lead-Crystal: rgb(194,191,181); /*#C2BFB5*/
  --lavender:rgb(175,164,206); /*AFA4CE*/
  --prism-Pink:rgba(240,161,191); /*F0A1BF*/
  --placid-Blue:rgb(140,172,211); /*#8CACD3*/
}

body {
  margin: 0;
  background-color: rgba(255,255,255,0.9);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
